<div class="header-search">
  <form class="search search-bar__form" action="/search" method="get" role="search">
       	<div class="input-group">
       		<input class="input-group__field search__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
           	<span class="input-group__btn">
       			<button class="btn search__submit" type="submit"><i class="fa fa-search" aria-hidden="true"></i><span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span></button>
           	</span>
       	</div>
  </form>
</div>
